*{
    margin: 0;
    padding: 0;
}
.add{
    width: 300px;
    height: 380px;
    color: purple;
    background-color: white;
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
}
#adbox{
    width: 250px;
    height: 40px;
    margin-top: 15px;
    color: purple;
    
    border: none;
    border-bottom: 1px solid black;
}
body{
    background-color: black;
}
#adbtn{
    width: 250px;
    height: 40px;
    background-color: purple;
    color: white;
    margin-top: 20px;
}