*{
    margin: 0;
    padding: 0;
}


a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  
}
 ul li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #9b055d; /* Underline color */
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

 ul li:hover::after {
  width: 100%;
}
 ul li:hover {
  color: #9b055d; 
  transform: translateY(-3px);
}

  .content h4{
    font-size: 18px;

  }
  .discount-price{
    color: rgb(175, 16, 16);
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;

  }
  .discount-percentage{
    color: green;
    margin-right: 10px;
    font-weight: 600 ;
    font-size: 15px;

    

  }

  .original-price {
    text-decoration: line-through;
    color: grey;
    margin-right: 10px;
    font-size: 15px;
   


  }
  .ratings{
    border: none;
    background-color: rgb(18, 104, 18);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
    

    
    
    
  }

  .ratingss{
    border: none;
    background-color: rgb(18, 104, 18);
    color: white;
    padding: 3px 2px;
    border-radius: 2px;
    font-size: small;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    

    
    
    
  }
  

  

  

  

/* Product style  */

a{
  color: white;
}
.product{
  width: 99%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;

  /* border: 1px solid black; */
  /* box-shadow:  rgba(0, 0, 0, 0.2) 0px 5px 15px; */

  /* background-color: rgb(241, 239, 238); */
  /* position: relative; */

}
.pro-cards{
/* position: absolute; */
/* top: 2%; */
/* left: 1%; */
margin-right: 20px;
margin-left: 20px;
}

.pro-card{
  width: 4rem;
  height: 4rem;
  /* border: 2px solid red; */
  margin-top: 10px;
  box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
  

}

.pro-card img{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.pro-pic{
  height: 25rem;
  width: 24rem;
  margin-top: 10px;

  /* position: absolute; */
  background-color: rgba(243, 236, 236, 0.6);
  /* top: 3%; */
  /* left: 9%; */
  box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;

}
.pro-pic img{
  width: 20rem;
  height: 22rem;
  
}

.pro-content{
  width: 60%;
  height: 90vh;
  margin-bottom: 20px;
 margin-top: 10px;
  margin-left: 20px;
 
 background-color: white;
  box-shadow: rgba(26, 25, 25, 0.2) 0px 5px 15px;
  padding: 10px 10px;
}

.pro-btn{
  border: none;
  background-color: rgb(18, 104, 18);
  color: white;
  padding: 3px 12px;
  border-radius: 5px;
}

.last-btn1{
  border: none;
  background-color: rgb(187, 124, 6);
  padding: 10px 30px;
  margin-top: 10px;
 font-weight: bold;
  font-weight: bolder;
  border-radius: 6px;
  cursor: pointer;
}

.last-btn2{
  border: none;
  background-color: rgb(187, 124, 6);
  padding: 10px 30px;
  margin-top: 10px;
 font-weight: bold;
  font-weight: bolder;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
}

.last-btn1:hover{
  background-color:orange ;
  transform: scale(0.9);
}
.last-btn2:hover{
  background-color:orange ;
  transform: scale(0.9);

}




/* Media Query  */

@media (min-width:300px) and (max-width:399.98px){
  .pro-cards{
    display: flex;
    gap: 10px;
    margin-left:30px ;
  }
  .pro-pic{
    height: 25rem;
    width: 23rem;
    margin-top: 10px;
    margin-left: 30px;
  
    /* position: absolute; */
    background-color: rgba(243, 236, 236, 0.6);
    /* top: 3%; */
    /* left: 9%; */
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
  
  }
  .pro-pic img{
    width: 15rem;
    height: 20rem;
    
  }
  
  .pro-content{
    width: 80%;
    height: 175vh;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 30px;
   
   background-color: white;
    box-shadow: rgba(26, 25, 25, 0.2) 0px 5px 15px;
    padding: 10px 10px;
  }
  .last-btn2{
    border: none;
    background-color: rgb(187, 124, 6);
    padding: 10px 40px;
    margin-top: 10px;
   font-weight: bold;
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 2px;
  }
 
}
@media (min-width:400px) and (max-width:575.98px){
  .pro-cards{
    display: flex;
    gap: 10px;
    margin-left:50px ;
  }
  .pro-pic{
    height: 25rem;
    width: 24rem;
    margin-top: 10px;
    margin-left: 50px;
  
    /* position: absolute; */
    background-color: rgba(243, 236, 236, 0.6);
    /* top: 3%; */
    /* left: 9%; */
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
  
  }
  .pro-content{
    width: 83%;
    height: 120vh;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 50px;
   
   background-color: white;
    box-shadow: rgba(26, 25, 25, 0.2) 0px 5px 15px;
    padding: 10px 10px;
  }
 
}

@media (min-width:576px) and (max-width:767.98px){
  .pro-cards{
    display: flex;
    gap: 10px;
    margin-left:50px ;
  }
  .pro-pic{
    height: 25rem;
    width: 24rem;
    margin-top: 10px;
    margin-left: 50px;
  
    /* position: absolute; */
    background-color: rgba(243, 236, 236, 0.6);
    /* top: 3%; */
    /* left: 9%; */
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
  
  }
  .pro-content{
    width: 83%;
    height: 95vh;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 50px;
   
   background-color: white;
    box-shadow: rgba(26, 25, 25, 0.2) 0px 5px 15px;
    padding: 10px 10px;
  }
}

@media (min-width:768px) and (max-width:991.98px){
  .pro-cards{
    display: flex;
    gap: 10px;
    margin-left:50px ;
  }
  .pro-pic{
    height: 25rem;
    width: 24rem;
    margin-top: 10px;
    margin-left: 50px;
  
    /* position: absolute; */
    background-color: rgba(243, 236, 236, 0.6);
    /* top: 3%; */
    /* left: 9%; */
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
  
  }
  .pro-content{
    width: 83%;
    height: 120vh;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 50px;
   
   background-color: white;
    box-shadow: rgba(26, 25, 25, 0.2) 0px 5px 15px;
    padding: 10px 10px;
  }
}